<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="static/WebModules/folder_page.css">
    <script src="static/WebModules/jquery-3.4.1.min.js"></script>
    <script src="static/WebModules/FileSaver.js"></script>
    <script src="static/WebModules/folder_page.js"></script>
<head>
    <meta charset="UTF-8">
    <title>{{ directory }}</title>
</head>
<body>
    <div>
        <!--<img src="static/WebModules/back_image.jpg" id="bg">-->
        <div class="dir" onclick=request_folder("{{ directory+".." }}")>
        <img src="static/WebModules/folder_icon.jpg" height="30px" width="30px">
        ..
        </div>
        {% for file in dir_list %}
        <div class="dir" onclick=request_folder("{{ directory+file }}")>
        <img src="static/WebModules/folder_icon.jpg" height="30px" width="30px">
        {{ file }}
        </div>
        {% endfor %}
        {% for file in files_list %}
        <div class="dir" onclick=download_file("{{ directory+file }}")>
        <img src="static/WebModules/text_icon.jpg" height="20px" width="20px">
        {{ file }}
        </div>
        {% endfor %}
        <pre id="file_content"></pre>
    </div>
</body>
</html>